.my-app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page {
  min-height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  box-sizing: border-box;
  position: fixed;
  z-index: 20;
  top: 0;
  min-width: 100vw;
  height: 4rem;
  background-color: var(--black-100);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  margin: 0;
  gap: 3rem;
  border-bottom: 1px solid var(--grey-200);
}

.menu-buttons  {
  height: 100%;
  color: var(--orange-300);
  font-size: 2rem;
  cursor: pointer;
}

.main-content {
  width: 100vw;
  position: absolute;
  font-size: clamp(1rem, 0.9625rem + 0.2vw, 1.125rem);
  color: var(--orange-500);
  top: 4rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: 0;
}

footer {
  box-sizing: border-box;
  position: fixed;
  z-index: 20;
  bottom: 0;
  min-width: 100vw;
  height: 4rem;
  background-color: var(--grey-100);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  margin: 0;
  gap: 3rem;
  border-bottom: 1px solid var(--grey-200);
  border-top: 1px solid var(--grey-200);
}

.profile-filters {
  list-style: none;
  min-width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 1000px) {
  footer {
    min-width: calc(100% - 6rem);
    max-width: calc(100% - 6rem);
    top: 0;
    right: 0;
  }

  .main-content {
    max-width: calc(100% - 6rem);
    padding: 0;
    margin: 0;
    right: 0;
  }

  .weather {
    position: absolute;
    top: -3.5rem;
  }
}

@media (min-width: 1001px) {
  footer {
    min-width: calc(100% - 12rem);
    max-width: calc(100% - 12rem);
    top: 0;
    right: 0;
  }

  .main-content {
    width: calc(100vw - 12rem);
    right: 0;
    top: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    margin: 0;
    border: 0;
  }

  .weather {
    position: absolute;
    top: 0.5rem;
  }
}

.selected {
  outline: 2px solid var(--black-100);
}

.filled {
  font-variation-settings:
    'FILL' 1,
    'wght' 500,
    'GRAD' 0,
    'opsz' 48;
}