.settings {
  width: 100vw;
  height: calc(100vh - 8rem);
  position: absolute;
  top: 4rem;
  display: flex;
}

.modal-profile-options {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem;
}

.user-avatar-big{
  background-color: none;
  height: 7rem;
  width: 7rem;
  border-radius: 3.5rem;
  margin-bottom: 1.2rem;
  object-fit: cover;
}

.profile-options {
  width: 100%;
  /* max-width: 20rem; */
  height: fit-content;
  list-style: none;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 1.2rem;
  font-size: clamp(1rem, 0.9625rem + 0.2vw, 1.125rem);
  font-weight: 400;
  cursor: pointer;
}
  
.profile-options li {
  background-color: var(--white-000);
  padding: 1rem;
  width: 100%;
  border-radius: 2rem;
  box-sizing: border-box;
}

.profile-options .profile-button {
  max-width: 15rem;
  color: var(--black-100);
}

.profile-options .mode {
  width: 6rem;
  align-self: center;
}
  
.mode-button {
  background-color: var(--white-000);
  border: none;
  color: var(--black-100);
  transition: var(--transition);
}

.icon-color {
  color: var(--yellow);
}

.light {
  display: flex;
  justify-content: baseline;
  transition: var(--transition);
}

.dark {
  display: flex;
  justify-content: end;
  transition: var(--transition);
}

@media (min-width: 768px) and (max-width: 1000px) {
  .settings {
    width: calc(100vw - 6rem);
    right: 0;
    height: calc(100vh - 4rem);
  }
}

@media (min-width: 1001px) {
  .settings {
    width: calc(100vw - 12rem);
    right: 0;
    height: calc(100vh - 4rem);
  }
}