@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white-000: rgba(255, 255, 255, 1);
    --grey-100: #F5F7FA;
    --grey-150: #e5eaf1;
    --grey-200: #E4E7EB;
    --grey-300: #CBD2D9;
    --grey-400: #9AA5B1;
    --grey-500: #7B8794;
    --grey-600: #616E7C;
    --grey-700: #52606D;
    --black-100: #000000;

    --red-alert: rgb(255, 128, 128);
    --green-alert: rgb(153, 255, 153);
    --blue: blue;
    --red: red;
    --yellow: rgb(234, 202, 22);
    --transparent: rgba(0, 0, 0, 0);
    --black-transparent: rgba(0, 0, 0, 0.8);
    --transition: 0;
  }

  :root.dark {
    --white-000: #111112;
    --grey-100: #000000;
    --grey-150: #616E7C;
    --grey-200: #7B8794;
    --grey-300: #9AA5B1;
    --grey-400: #CBD2D9;
    --grey-500: #E4E7EB;
    --grey-600: #e5eaf1;
    --grey-700: #F5F7FA;
    --black-100: rgba(255, 255, 255, 1);

    --black-transparent: rgba(255, 255, 255, 0.2);
    --transition: 0;
  }
}

@layer components {
  .title {
    @apply text-3xl h-fit m-0 mb-4 font-medium text-[var(--black-000)];
  }

  .inputs {
    @apply flex flex-col items-center justify-between h-80 w-full
  }

  .input-field {
    @apply text-left w-full p-4 font-light text-base rounded-3xl bg-[var(--white-000)] text-[var(--black-100)] box-border focus:outline-input
  }

  .link {
    @apply underline text-[var(--blue)] cursor-pointer
  }

  .modal-window {
    @apply fixed top-0 left-0 h-screen w-screen bg-[var(--black-transparent)] flex flex-col gap-4 justify-center items-center z-30
  }
}

@layer utilities {
  .outline-input {
    outline: 1px solid var(--grey-300);
  }
}

html {
  margin: 0;
  padding: 0;
}


body {
  margin: auto;
  overflow: auto;
  background: var(--grey-100);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  transition: var(--transition);
}

.submit-buttons {
  height: auto;
  width: fit-content;
  padding: 0.7rem 1.5rem;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  border-radius: 1.5rem;
  background-color: var(--white-000);
  color: var(--black-100);
  border: none;
  cursor: pointer;
}

.updating-menus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 25rem;
}

.modal-window>form,
.modal-window>div>form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  max-width: 25rem;
  padding: 2rem;
  gap: 2rem;
  margin: 0;
  background-color: var(--grey-100);
  border-radius: 1.5rem;
  box-sizing: border-box;
}

.modal-window>form>input,
.modal-window>form>textarea {
  width: 100%;
  box-sizing: border-box;
}

.buttons {
  display: flex;
  gap: 0.3rem;
}

input:-webkit-autofill {
  color: var(--black-100);
  transition: background-color 5000s;
  -webkit-text-fill-background-color: #fff !important;
}