.post-container {
    position: relative;
}

.post-container .post-menu {
    position: absolute;
    background-color: var(--grey-100);
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
    width: fit-content;
    padding: 1.2rem;
    border-radius: 1rem;
    top: 2rem;
    right: 1.5rem;
    z-index: 30;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.post-menu > li {
    height: fit-content;
    gap: 0.5rem;
}

.post-menu-text {
    margin: 0;
}

.close-post-menu {
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0);
    z-index: 25;
}